# Logs
logs
*.log

node_modules
dist
/build/
dist-ssr
*.local

# React Router
/.react-router/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
