.ProductCard {
    display: flex;

    margin-bottom: 20px;
}

.ProductIcon {
    max-width: fit-content;
    background-color: #2A2A2A;
    padding: 20px;
    margin-right: 20px;
}

.ProductPreviewInfo {
    min-height: 128px;
    width: 100%;
    background-color: #2A2A2A;
}